/* <p id="demo">JavaScript can change HTML content.</p>
        <button type="button" onclick='document.getElementById("demo").innerHTML = "Hello JavaScript!"'>Click Me!</button>
        <br>
        <br>

        <button onclick="document.getElementById('myImage').src='pic_bulbon.gif'">Turn on the light</button>
        <img id="myImage" src="pic_bulboff.gif" style="width:100px">
        <button onclick="document.getElementById('myImage').src='pic_bulboff.gif'">Turn off the light</button>

        <br>
        <br>
        <p id="demo1"></p>
        <script>
        document.getElementById("demo1").innerHTML = 5 + 6;
        </script>*/

        

        .placid{
            background-color: rgb(122, 141, 106);
            padding-top: 5%;
            text-align: center;
            font-family: sans-serif;
            font-size: medium;
            font-weight: 100;
        }
        h1{
            font-weight: bold;
            color: green;
            text-align: center;
        }
